<p ng-show="posts.length == 0">There are no posts here!</p>
<ul class="list-unstyled">
  <li ng-repeat="(id, post) in posts">
    <a href="{{post.url}}">{{post.name}}</a>
    <span class="url">
      <small>({{post.url | shortURL}})</small>
    </span>
    <span ng-show="user.name == post.createdBy"><a href="#/edit/{{id}}" class="btn btn-primary btn-xs">edit</a></span>
    <span ng-show="user.name == post.createdBy"><a href="#/remove/{{id}}" class="btn btn-danger btn-xs">remove</a></span>
    <br /><h6><small class="text-muted subtext">
      created on {{post.createdOn | date:'short'}} | 
      <a href="#/comments/{{id}}" >comments</a></small></h6>
  </li>
</ul>
<span><a ng-href="#/add" class="btn btn-success btn-sm">Add a New Article</a></span>