<!doctype html>
<html lang="en" ng-app="hackerNews">
<head>
  <meta charset="utf-8">
  <title>Hacker News</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">
</head>
<body ng-controller="AppCtrl">
  <div class="jumbotron">
    <h1>Hacker News</h1>
  </div>
  [<a ng-href="#/">index</a>]
  <span ng-show="user">{{user.name}} | <a ng-click="logout()">logout</a></span>
  <span ng-hide="user">[<a ng-click="login()">login</a>]</span>
  <div class="well" ng-view></div>
  <!--<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>-->
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.1.5/angular.min.js"></script>
  <script src="//cdn.firebase.com/v0/firebase.js"></script>
  <script src="//cdn.firebase.com/libs/angularfire/0.3.0/angularfire.min.js"></script>
  <script src="//cdn.firebase.com/v0/firebase-simple-login.js"></script>
  <script src="app.js"></script>
  <script src="controllers.js"></script>
</body>
</html>
